.mainViewPort{
    min-height: 100vh;
    background-color: darkgray; 
}

.fullViewport {
    min-height: 100vh;
    background-image: url('../../../../public/images/profile-background.jpg');
  }
  
  .customContainer {
    padding: 20px;
    text-align: center;
  }
  
  .deviceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5em;
  }

  .heading{
    font-size: 3em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 1.5em;
    background-color: rgba(64, 64, 64, 0.8 );
  }
  .username{
    color: #b28d13;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  }