/* styles.module.css */
.fullViewport {
    min-height: 100vh;
    background-color: #E5E5E5; /* Replace with your preferred color */
  }
  
  .customContainer {
    padding: 20px;
    text-align: center;
  }
  
  .deviceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }