/* styles.module.css */
.fullViewport {
    min-height: 100vh;
    background-color: #E5E5E5; 
  }
  
  .customContainer {
    padding: 20px;
    text-align: center;
  }
  
  .deviceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5em;
  }